<span i18n="@@sortingBar.title" class="peachtree-sorting-bar__sort-by">Sort By:</span>
<form class="peachtree-sorting-bar__form" [formGroup]="form">
  <label
    *ngFor="let sortingType of sortingTypes"
    class="peachtree-sorting-bar__label"
    [class.active]="isActive(sortingType)"
    (click)="setActive($event, sortingType)"
  >
    <input
      type="radio"
      class="peachtree-sorting-bar__input"
      value="sortingType"
      [formControlName]="formControlsNames.sortingType"
    >
    <span
      i18n
      class="peachtree-sorting-bar__option-title"
      [class.asc]="sortingOrder === 'asc'"
      [class.desc]="sortingOrder === 'desc'"
    >
    {sortingType, select, date {date} beneficiary {beneficiary} amount {amount}}
    </span>
  </label>
</form>
