@import '../../../assets/styles/extensions/box-shadow';

:host {
  display: flex;
  padding: 64px 32px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.peachtree-transactions-container__pane ,
.peachtree-transactions-container__list {
  @extend %box-shadow;
}

.peachtree-transactions-container__pane {
  width: 25%;
}

.peachtree-transactions-container__list {
  width: 70%;
}

@media only screen and (max-width: 1024px) {
  .container {
    display: block;
  }

  .peachtree-transactions-container__pane,
  .peachtree-transactions-container__list {
    display: block;
    width: 100%;
    margin-bottom: 32px;
  }
}
